.testimonials
    text-align: center
    padding: 20px 20px
    background-color: #458FF6  
    color: #ffffff
    border-radius: 20px
    margin: 0 1.5em

.testimonial-info
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 800px
    margin: 0 auto
    padding: 0 20px