.top-nav
    padding: 20px
    display: flex
    justify-content: space-between
    align-items: center

    @media screen and (width <= 600px)
        padding: 10px
        flex-direction: row
        position: relative

    .menu-icon
        display: none

        @media screen and (width <= 600px)
            display: block
            cursor: pointer