.testimonial-info
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 800px
    margin: 0 auto
    padding: 0 20px

    @media screen and (width <= 600px)
        flex-direction: column 
        padding: 0 10px 
        gap: 20px 