.learn-more
    background-color: #ffffff
    color: #458FF6
    border: solid 1px #458FF6
    border-radius: 100px
    padding: 10px 20px
    font-size: 1em
    cursor: pointer
    margin-top: 30px

    @media screen and (width <= 600px)
        padding: 8px 15px
        font-size: 0.9em 
        margin-top: 20px 