p
    font-size: 1.2em
    margin-bottom: 30px
    text-align: left
    color: #7D7987

    @media screen and (width <= 600px)
        font-size: 1em 
        text-align: center
        margin-bottom: 20px 